<header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <img src="images/logo.png" alt="Triple C Lighting" />
        <h1>Our brand new site and Luminaire Selector is launching very soon!</h1>
        <p class="lead">In the meantime, please reach out to us using the contact information below.</p>
      </div>
    </div>
  </div>
</header>
<div class="divider"></div>
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Oklahoma City</h2>
        <img src="images/oklahomacity.jpg" class="img-responsive" />
        <div class="clearfix">
          <address class="pull-left">
            <strong>Triple C Ligthing</strong><br>
            1212 W. Main Street <br>
            Oklahoma City, Oklahoma 73106
          </address>
          <address class="pull-right">
            (405) 235-5456 <br>
            <abbr title="Fax">Fax:</abbr> (405) 235-5445
          </address>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Tulsa</h2>
        <img src="images/tulsa.jpg" class="img-responsive" />
        <div class="clearfix">
          <address class="pull-left">
            <strong>Triple C Ligthing - Tulsa</strong><br>
            1015 E. 2nd Street <br>
            Tulsa, Oklahoma 74120
          </address>
          <address class="pull-right">
            (918) 664-2100 <br>
            <abbr title="Fax">Fax:</abbr> (918) 664-2144
          </address>
        </div>
      </div>
    </div>
  </div>
</section>
